header {
  background-color: gainsboro;
  padding: 5px;
  min-width: 100%;
}
.nav_con {
  display: flex;
}
.img_nav {
  height: 75px;
  width: 150px;
}
.nav_links {
  font-size: 20px;
  margin-top: 25px;
}
a:link {
  margin-left: 10px;
  text-decoration: none;
}
main{
  margin-top: 70px;
  text-align: center;
}
.title {
  font-family: segoe script;
  font-size: 80px;
  text-shadow: 5px 5px 8px rgb(255, 60, 0);  
}
.buttons_con{
  background-image: url(/assets/images/placeHolders/street_art/streetart2.jpg);
  box-shadow: 2px 2px 15px 10px rgb(255, 60, 0);
  margin-top: 70px;
  margin-right: 450px;  
  margin-left: 450px;
  padding-bottom: 50px;
}
#art, #tattoos{
  margin-top: 50px;
  font-size: 45px;
 
}
footer {
  background-color: gainsboro;
  padding: 5px;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  display: grid;
  grid-template-areas: "social  social terms terms contact contact";
}
#social_media {
  grid-area: social;
  margin-left: 10px;
}
.footer_icons {
  margin-top: -30px;
  height: 35px;
}
#creator_terms {
  grid-area: terms;
  text-align: center;
  margin-top: 10px;
}

#contact_info {
  grid-area: contact;
  text-align: center;
}
.contacts {
  margin-top: -30px;
  margin-left: 20px;
}
