/*########## PHONES ##########*/
/* samsung galaxy fold */
@media all and (max-width: 280px) {
  body {
    display: block;
  }
  .welcome_title {
    font-size: 35px;
  }
  .welcome_txt {
    margin-right: 5px;
    margin-left: 5px;
  }
  #sec_projects {
    margin-left: -1px;
  }
  footer {
    position: static;
    text-align: center;
    display: block;
  }
}
/* samsung galaxy S8 */
@media all and (min-width: 281px) and (max-width: 360px) {
  body {
    display: block;
  }
  .welcome_title {
    font-size: 45px;
  }
  .welcome_txt {
    margin-right: 5px;
    margin-left: 5px;
  }
  #sec_projects {
    margin-left: -1px;
  }
  footer {
    position: static;
    text-align: center;
    display: block;
  }
}
/* iPhone SE */
@media all and (min-width: 361px) and (max-width: 375px) {
  body {
    display: block;
  }
  .welcome_title {
    font-size: 45px;
  }
  .welcome_txt {
    margin-right: 5px;
    margin-left: 5px;
  }
  #sec_projects {
    margin-left: -1px;
  }
  footer {
    position: static;
    text-align: center;
    display: block;
  }
}
/* iPhone 12pro, pixel 5 */
@media all and (min-width: 376px) and (max-width: 395px) {
  body {
    display: block;
  }
  .welcome_title {
    font-size: 45px;
  }
  .welcome_txt {
    margin-right: 5px;
    margin-left: 5px;
  }
  #sec_projects {
    margin-left: -1px;
  }
  footer {
    position: static;
    text-align: center;
    display: block;
  }
}
/* iPhone XR, samsung S20 ultra and galaxyA51/71 */
@media all and (min-width: 396px) and (max-width: 415px) {
  body {
    display: block;
  }
  .welcome_title {
    font-size: 50px;
  }
  .welcome_txt {
    margin-right: 5px;
    margin-left: 5px;
  }
  #sec_projects {
    margin-left: -1px;
  }
  footer {
    position: static;
    text-align: center;
    display: block;
  }
}
